

.nav-bar {
    background-color: #343a40; /* Dark background */
    padding: 10px;
}

.nav-pills .nav-link {
    color: white; /* White text color */
}

.nav-pills .nav-link:hover {
    background-color: #fd7e14; /* Orange hover effect */
    color: white;
}

.nav-pills .nav-link.active {
    background-color: #fd7e14; /* Active link style */
    color: white;
}

.nav-item {
    margin-right: 15px; /* Space between items */
}

/*Order css*/
.container{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 70%;
    height: 80%;
}
#main-section{
    position: absolute;
    top: 70px;
    width: 99%;
    margin: 10px;
}
#formInfo{
    display: flex;
}
#formInfo>h2{
    margin-top: 13px;
    margin-left: 10px;
}
#formInfo>img{
    margin-left: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 5px;
    gap: 20px;
}
.invoiceDetailsInputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}
